<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HotnCold</h1>
    <button>Add Work!</button>
    <br><br>
    <table>
        <tr>
            <th>ID</th>
            <th>Work</th>
        </tr>
        <tr>
            <td>1</td>
            <td>
                Wash the dishes. 
                <button>edit</button>
                <button>delete</button>
            </td>
        </tr>
    </table>

    

    <form action="/users" method="POST">
        <label>New Work:
            <input type="text" name="item" />
        </label>
        <button type="submit">POST me!</button>
    </form>

    <script src="./scripts/scripts.js"></script>
</body>
</html>